---
import SideBarItems from "./SideBarItems.tsx";
import { SignOut } from "auth-astro/components";
import type { UserSubscription } from "../types";
import type { Session } from "@auth/core/types";
import ProfileImage from "./ProfileImage.tsx";

interface Props {
    session: Session | null;
    userEmail?: string;
    subs: UserSubscription[];
    blogNameParam?: string;
}

const { session, userEmail, subs, blogNameParam } = Astro.props;
---

<nav
    class="bg-zinc-300 dark:bg-zinc-500 w-1/4 lg:w-1/6
text-center overflow-hidden overflow-y-scroll space-y-5
p-1 h-full fixed top-0 left-0 hidden lg:block no-scrollbar"
>
    <div></div>
    <div>
        {
            session ? (
                <>
                    <ProfileImage session={session} />
                    <SignOut class="hover:bg-zinc-600 rounded-lg p-2 shadow-md transition:ease-in duration-100">
                        Sign out
                    </SignOut>
                </>
            ) : (
                <a
                    class="hover:bg-zinc-600 rounded-lg p-2 shadow-md transition:ease-in duration-100"
                    href="/login"
                >
                    Sign in
                </a>
            )
        }
    </div>
    <SideBarItems client:load subs={subs} userEmail={userEmail} blogNameParam={blogNameParam} />
</nav>
