---
const { prevPage, nextPage } = Astro.props;
---

<div class="flex">
    <div class="flex flex-row w-full justify-between">
        <a
            href=`/posts/${prevPage}`
            class="hover:bg-zinc-600 shadow-zinc-600 rounded-lg p-2 shadow-md transition:ease-in duration-100"
        >
            Prev
        </a>
        <a
            href=`/posts/${nextPage}`
            class="hover:bg-zinc-600 shadow-zinc-600 rounded-lg p-2 shadow-md transition:ease-in duration-100"
        >
            Next
        </a>
    </div>
</div>
