<nav class="p-10 bg-zinc-400 w-1/6 text-center">
  <div class="">
    <ul class="text-white list-disc">
      <details>
        <summary>Subscriptions</summary>
        <li><a href="/uber">Uber Engineering</a></li>
      </details>
    </ul>
  </div>
</nav>
